<!DOCTYPE html>
<html>
  <head>
    <title>Infomation Organiser</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Login</h1>
    <form>
      <label>Username: </label>
      <input type="text" name="username">
      <br>
      <label>Password: </label>
      <input type="password" name="password">
      <br>
      <input type="submit" name="login" value="Login">
    </form>
    <h2>Teacher</h2>
    <table>
      <tr>
        <th>Username</th>
        <th>Password</th>
      </tr>
      <tr>
        <td>Ad Kon</td>
        <td>AK12345</td>
      </tr>
      <tr>
        <td>Bin Jane</td>
        <td>BJ12345</td>
      </tr>
    </table>

    <h2>Student</h2>
    <table>
      <tr>
        <th>Username</th>
        <th>Password</th>
      </tr>
      <tr>
        <td>Victor Non</td>
        <td>VN123</td>
      </tr>
      <tr>
        <td>Grace Joe</td>
        <td>GJ123</td>
      </tr>
    </table>
  </body>
</html>
